.howItWorks {
    background-image: linear-gradient(90deg, #5f39ff 0%, #0070ff 35%, #008cff 71.5%, #009cff 100%);
    color: var(--white);

    .title {
        h2 {
            margin-bottom: 34px;
        }
    }

    p {
        color: var(--white);
        max-width: 86%;
    }

    h5 {
        color: var(--white);
        font-weight: var(--font-weight-normal);
    }

    &__steps {
        margin-top: 60px;
        position: var(--position-relative);

        span {
            color: var(--purple);
            background-color: var(--white);
            height: 72px;
            width: 72px;
            border-radius: 50%;
            display: var(--display-block);
            text-align: var(--center);
            display: var(--display-flex);
            align-items: var(--center);
            justify-content: var(--center);
            font-size: 30px;
            font-weight: var(--font-weight-bold);
        }

        h4 {
            margin: 25px 0px 18px;
            font-weight: var(--font-weight-medium);
            text-transform: var(--text-capitalize);

            small {
                display: var(--display-block);
            }
        }

        img {
            position: var(--position-absolute);
            top: 13px;
            max-width: 180px;
            right: 2px;
        }
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1399px) {
    .howItWorks {
        &__steps {
            img {
                right: -8px;
                max-width: 145px;
            }
        }
    }
}

@media screen and (max-width: $large-tablet-size) {
    .howItWorks {
        &__steps {
            margin-top: 25px;

            p {
                max-width: var(--width-hundred);
            }

            span {
                height: 50px;
                width: 50px;
                font-size: 20px;
            }

            h4 {
                margin: 15px 0px;

                small {
                    display: initial;
                }
            }

            img {
                display: var(--display-none);
            }
        }
    }
}
