.buttonPrimary {
    padding: 20px 42px;
    border: 1px solid #8b2351;
    border-radius: 2px;
    color: #151515;
    display: inline-block;
    background-color: #ffffff;
    cursor: pointer;
}

.buttonPrimary:hover {
    padding: 20px 42px;
    border: 1px solid #8b2351;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    background-color: #8b2351;
    cursor: pointer;
}

.buttonSecondary {
    padding: 20px 42px;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    background-color: #8b2351;
    cursor: pointer;
    border: 1px solid #8b2351;
}

.buttonSecondary:hover {
    padding: 20px 42px;
    border: 1px solid #8b2351;
    border-radius: 2px;
    color: #8b2351;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .buttonSecondary {
        display: block;
        width: 100%;
    }
}
