.testimonials {
  .title {
    h4 {
      margin-bottom: 24px;
    }
  }
  .grid {
    column-count: 3;
    column-gap: 24px;
    .grid-item {
      margin-bottom: 24px;
      .testimonials__details {
        overflow: hidden;
        padding: 24px 23px;
        border-radius: 10px;
        background-color: $white;
        .testimonials__quote-img {
          max-width: 40px;
          width: 100%;
          margin-bottom: 16px;
        }
        p {
          color: $black;
        }
        p + p {
          margin-top: 16px;
        }
        .testimonials__details-user {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-top: 30px;
          .user-img {
            img {
              max-width: 50px;
              width: 100%;
              border-radius: 100%;
              min-width: 50px;
            }
          }
          .user-info {
            h5 {
              color: $black;
            }
            .small {
              color: $black;
            }
          }
        }
      }
    }
  }
  &__details-button {
    text-align: center;
    margin-top: 30px;
  }
}

@media (max-width: 1200px) {
  .testimonials {
    .title {
      h4 {
        margin-bottom: 16px;
      }
    }
    .grid {
      .grid-item {
        .testimonials__details {
          padding: 18px;
          .testimonials__quote-img {
            margin-bottom: 12px;
          }
          .testimonials__details-user {
            gap: 12px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .testimonials {
    .title {
      h4 {
        margin-bottom: 14px;
      }
    }
    .grid {
      column-count: 2;
      .grid-item {
        .testimonials__details {
          padding: 16px;
          .testimonials__quote-img {
            max-width: 32px;
            margin-bottom: 6px;
          }
          p + p {
            margin-top: 10px;
          }
          .testimonials__details-user {
            gap: 10px;
            margin-top: 14px;
            .user-img {
              img {
                max-width: 44px;
                min-width: 44px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .testimonials {
    .grid {
      column-count: 1;
      .grid-item {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__details-button {
      margin-top: 20px;
    }
  }
}
